h4 {
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 18pt;
}

#ul-footer {
	text-align: left;
	font-weight: bold;
	/*width: 100%;*/
}

.glyphicon {
	font-weight: normal;
	font-size: 18px;
}