.container2 ul {
	margin-top: 5%;
	margin-left: 15%;
}

.container2 li ul {
	display: none;
}

.container2 li:hover ul {
	display: block;
}

.container2 ul li {
	/*background-color: rgb(255, 129, 93);*/
		/*background-color: rgb(255, 129, 93);*/
}

.container2 li {
	list-style: square;
	margin-left: 15%;
	background-color: white;
	margin-bottom: 1px;
	margin-top: 1px;
	font-size: 18pt;
	font-weight: bold;
	text-shadow: 1px 1px grey;
	padding: 5px 10px;
}

.container2 li a {
	color: rgb(66, 189, 193);
	text-decoration: none;
}

#titulo-colegios {
	margin-left: 18%;
}

.h1Sobre{
	text-align: center;
}

@media screen and (max-device-width : 500px) {
	.h1Sobre { font-size: 15pt; }
}
