#lista-colegios {
	list-style: square;	
	color: rgb(66, 189, 193);
	text-align: left;
	background-color: white;
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 1px;
	font-size: 22pt;
	font-weight: bold;
	text-shadow: 1px 1px grey;
	padding: 5px 10px;
}

.h1Sobre{
	text-align: center;
}

@media screen and (max-device-width : 500px) {
	.h1Sobre { font-size: 15pt; }
}
