/*.container {
	margin-left: 21%;
	margin-bottom: 12%;
}
*/

table {
	border-spacing: 0.2em;
	border-collapse: separate;
}

thead {
	background-color: rgb(0, 143, 151); 
}

thead th {
	font-weight: bold;
	padding: 0.3em 1em;
	font-size: 18pt;
	text-align: center;
	color: white;
	text-shadow: 2px 2px #333333;
}

td img {
	height: 30%;
}

td {
	padding: 0.3em;
	text-align: center;
}

.nossos-produtos {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: relative;
 	text-align: right;
	padding-right: 15%;
	text-shadow: 2px 2px #333333;
	color: rgb(66, 189, 193);
}

/*tr:nth-child(2n)/* {*/
	/*background-color: #ccc;*/
/*}*/

/*td:first-child {
	font-style: italic;
}*/