.produto {
	color: #333;
	line-height: 1.3;
	margin-top: 2em;
}

.produto h1 {
	font-size: 1.8em;
	font-weight: bold;
}

.produto p {
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 1em;
}

.produto legend {
	display: block;
	font: bold 0.9em/2.5 Arial;
	text-transform: uppercase;
}

.detalhes {
	margin-left: 8.5%;
	padding: 2em 0;
}

.detalhes h2 {
	font-size: 1.5em;
	line-height: 2;
}

.detalhes p {
	margin: 1em 0;
	font-size: 1em;
	line-height: 1.5;
	max-width: 36em;
}

.produto-back {
	background-color: #f2f2f2;
	margin-top: 1em;
	border-top: 2px solid #ffffff;
}


img {
	float: right;
	width: 25%;
}

.h1Sobre {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, italic;
	/*padding-right: 20%;*/
	text-align: left;
	margin-left: 3.5%;
	text-shadow: 1px 1px #333333;
	color: rgb(66, 189, 193);
}


.h2Sobre {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, italic;
 	text-align: center;
	/*padding-right: 20%;*/
	text-shadow: 2px 2px black;
	color: rgb(255, 129, 93);
}

#element1 {

	/*display:inline-block;*/
	/*margin-right: 10px;*/
	/*float: left;*/
} 

#element2 {
	padding-left: 15%;
	width: 85%;
	display:inline-block;
} 


table {
	border-spacing: 0.2em;
	border-collapse: separate;
}

thead {
	background-color: rgb(0, 143, 151); 
}

thead th {
	font-weight: bold;
	padding: 0.3em 1em;
	font-size: 18pt;
	text-align: center;
	color: white;
	text-shadow: 2px 2px #333333;
}

td img {
	height: 30%;
	
	
}

td {
	padding: 0.3em;
	text-align: center;
}

tr:nth-child(2n) {
	background-color: #ccc;
}

p {
	text-align: justify;
}
/*td:first-child {
	font-style: italic;
}*/
