* {
    box-sizing: border-box;
}

header {	
	position: relative;
	text-align: left;
	/*background-color:rgb(255, 129, 93);*/

    background: rgb(255, 129, 93); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(255, 129, 93);, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(255, 129, 93), white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(255, 129, 93), white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(255, 129, 93), white); /* Standard syntax */

	/*border-top: 0;*/
	/*margin-top: 0;*/
	/*padding-top: 0;*/
	width: 100%;
	height: 20%;
	max-height: 20%;
	display: inline;
}

header img {
	position: absolute;
	width: 20%;
	/*max-width: 15%;*/
	display: block;
	float: left;
	
	/*margin-left: 0;*/
	/*padding-left: 0;*/
}

header h1 {
	font-family: 'Lobster', cursive;
	color: white;
	padding-left: 10%;
}

body {
	color: #f5f5f5;
	/*font-family: 'Sahitya', serif;*/
}

h1, h2 {
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	/*font-family: 'Sahitya',  serif;*/
	font-family: 'Lobster', cursive;
	text-align: center;
	text-shadow: 2px 2px #333333;
	color: white;
}

header h2 {
	padding-left: 10%;
}

ul {
	list-style-type: none;

}

.menu-bar {
	/*float: left;*/
	position: absolute;
	float: left;
	display: block;
	background-color: rgb(255, 129, 93);
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 2px #333333;
	/*float: left;*/
	/*margin-top: 6.5%;*/
	/*margin-right: 10px;*/
	/*margin-left: 1%;*/
	margin-top: 12.5%;
	/*padding-left: 0;*/
	width: 20%;
	/*display: inline-grid;*/
}


.menu-bar li ul {
	display: none;
	/*transition: 0.8s ease-in;*/
}

.menu-bar li:hover ul {
	/*transition: 0.8s ease-in;*/
	display: block;
}

.menu-bar ul li {
	/*background-color: rgb(255, 129, 93);*/
		background-color: rgb(255, 129, 93);
}

.menu-bar li {
	background-color: white;
	margin-bottom: 1px;
	margin-top: 5px;
	padding: 5px 10px;
}

.menu-bar a {
	color: white;
	text-decoration: none;
}

footer {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display: inline;
	/*background-color: rgb(255, 144, 80);*/
	background-color:rgb(255, 129, 93);
	background: white /*rgb(255, 129, 93); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, rgb(255, 129, 93)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, rgb(255, 129, 93)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, rgb(255, 129, 93)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, rgb(255, 129, 93)); /* Standard syntax */

/*background-color: rgb(99, 110, 94);*/
	clear: both; 
	padding: 20px 20px;
	margin-top: 8%;
	height: 20%;
	width: 100%;
	margin-bottom: 0;
}

h4 {
	color: #f5f5f5;
	text-shadow: 2px 2px #333333;

}
ul div {
	float: left;
	height: 10%;
	width: 30%;
	display: inline;
	margin-right: 20%;
}

#textSobre {
	/*text-align: center;*/
	font-family: normal, sans-serif;
	position: relative;
	float: left;
	text-align: justify;
	display: inline-block;
	font-weight: bold;
	margin-left: 25%;
	margin-right: 3%;
} 

.roupas {
	float: center;
	margin-right: 100%;
	margin-bottom: 0;
	width: 80%;
	font-weight: bold;
}


#text {
	font-weight: bold;
	margin-left: 1%;
}

.h1Sobre {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 	text-align: center;
	padding-right: 20%;
	text-shadow: 2px 2px #333333;
	color: rgb(66, 189, 193);
}


.h2Sobre {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 	/*text-align: center;*/

	padding-right: 20%;
	text-shadow: 2px 2px black;
	color: rgb(255, 129, 93);
}

.news {
	/*text-align: center;*/
  	font-size: 48px;
  	color: #eeeeee;
  /*color: inherit;*/
  /*background-color: #eeeeee;*/
}

@media (max-device-width : 500px) {
	.h1Sobre, .h2Sobre { font-size: 12px;	text-shadow: none;  }
	header img {
		width: 50%;
	}
	.menu-bar {
		margin-top: 0;
		width: 20%;
	}
}


@media  (max-device-width : 320px)
{

  header h1
  {
    font: 15px;
  }
}
@media (min-device-width : 800px)
{
  header h1
  {
    font: 1000px;
  }
}

